.category-movies {
  padding-top: 16px;
  display: block;
  padding-bottom: 52px;
}
.img-movie {
  width: 155px;
  padding: 4px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}
.titleMovies {
  color: #d7d7d7;
  margin-top: 50px;
}
