.modalBackground {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
}

.modalContainer {
  width: 1100px;
  border-radius: 12px;
  background-color: rgb(35, 35, 35);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  margin-bottom: 10px;
}
