* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}
.bg_dark {
  background-color: #000;
  height: 1fr;
  padding-bottom: 100vh;
}
